:root{
    --navbar-height: 92px;
    --main-color: black; 
    --secondary-color:
    --text-color: white; 
}


body{
    
}



nav{
    display: flex;
    justify-content: space-between; 
    padding: 0 40px; 
    align-items: center; 



}

.logo{
    border: 2px solid var(--secondary-color)
    text-align: center; 
    color: var()
    padding: 0 20px 
}



nav ul{
    display: flex; 
    gap: 20px; 
}