header nav{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 40px;
}

nav ul{
    display: flex; 
    align-items: center; 
    gap: 20px; 
    text-transform: white; 
}


.logo:hover::before{
    opacity: 1;
}



.navbar li {
    display: inline 
}

.navbar a {
    text-decoration: none;
    border: 1px solid transparent; 
}
